/*Font for Canvas*/

/* Use this font-face with your font files but leave the name to change the font
@font-face {
    font-family: 'annotatorFont';
}*/

#upload-area {
    font-family: 'clearSansBold',sans-serif;
}

html, body {
    height: 100%;
}

#container {
    display: flex;
    width: 100%;
    background: #618056;
    padding: 100px 0;
}

#work-area {
    margin: auto;
}

#wpia-toolbar{
    display: flex ;
    justify-content: space-between;
}

ul.buttons {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
    display: flex ;
    align-items: center ;
    gap: 4px;
}

ul.buttons li {
    display: inline-block;
    color: #fff;
    background: #0084ff;
    margin-right: 5px;
    padding: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
}

ul.buttons li.active {
    color: #fff;
    background: #ffa2ba;
}

ul.buttons li:hover, ul.buttons:hover {
    cursor: pointer;
}

#main-canvas, #canvas-area {
    width: 100%;
    background: transparent;
    position: relative;
    /* border : 2px solid ; */
}

#canvas-area img {
    position: absolute;
    max-width: 100%;
    min-width: 300px;
    min-height: 150px;
}

#upload-area {
    margin-bottom: 25px;
}

#image_annotation_json {
    width: 100%;
}

#raw-code {
    width: 100%;
    clear: both;
    padding-top: 25px;
    display: none;
}

ul.buttons li.remove-button {
    margin-right: 40px;
}

#raw-code textarea {
    height: 600px;
}

#wpia-meta #upload_image {
    display: none;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    gap: 10px;
  }

  #popup img{
    width: 50% ;
    height: 50vh ;
    object-fit: contain;
  }

  #imp{
      color: red;
  }

  .icon-button{
    font-size: 20px ;
    font-weight: 600 ;
  }

  .buttons{
    position: relative;
  }

  .download-div{
    padding: 10px;
    position: absolute;
    top: 60px;
    width: 180px ;
    /* left: 10px; */
    background-color: white ;
    border-radius: 6px ;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center ;
    gap: 10px ;
    border: 1px solid rgba(128, 128, 128, 0.338) ;
    box-shadow: 0px 0px 2px rgba(172, 172, 172, 0.664) ;
    display: none ;
    flex-wrap: wrap;
  }

  .download-div button{
    width: 100% ;
    background-color: #0084ff;
    color: white ;
    border-radius: 4px ;
    padding: 8px;
    border: none;
    font-weight: 500;
    cursor: pointer;
  }

  .download-div button:hover{
    background-color: #ffa2ba;
  }

  .show{
    display: flex;
  }

  /* .icon-wrapper{
    margin-top: 20px;
    border : 2px solid red ;
    min-height: fit-content;
    height: 30px !important;
    padding: 10px;
  } */
